@import '../custom.scss';
@import '../../.././node_modules/bootstrap/scss/forms';

.contact-section {
    $self: ".contact-section";

    @include media-breakpoint-up(sm) {

        .container {
            gap: 5rem;

            #{$self} {
                &__title {
                    width: 45%;

                    .subtitle {
                        max-width: 55ch;
                    }
                }

                &__form {
                    width: 50%;
                }
            }
        }

    }

    .container {
        max-width: 100%;



        #{$self} {
            &__title .h2 {
                max-width: 19ch;
            }

            &__form {
                .form-label {
                    width: 100%;
                    margin-bottom: 24px;
                }

                .form-control,
                .form-select {
                    padding-block: 14px;
                    color: $neutral-600;
                    border-color: $neutral-600;
                }

                .btn-primary {
                    margin-top: 3rem;
                }

                .form-check-input {
                    &:checked {
                        background-color: $neutral-600;
                        border-color: $neutral-600;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

        }
    }
}