.department{
    overflow: hidden;
    $this: '.department';
    

    &__details {
        width: 100%;
        height: 100%;
        position: relative;

        #{$this} {

            &__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__overlay {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            
            &__content-head {
                position: absolute;
                top: 13%;
                left: 10%;
                color: #fff;
                z-index: 2;   
                display: flex;  
                flex-direction: column;     
                .h1{
                    width: 7ch;
                    margin-block: 10px;
                }
                p{
                    margin-block: 10px;
                }
            }

            &__button{
                position: absolute;
                z-index: 2;
                bottom: 7%;
                right: 8%;
                .btn-primary{
                    // width: 52px;
                    
                }
            }
        }
        &:nth-of-type(2){
            #{$this}__content-head{
                p{
                    order: -1;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__details{
            #{$this}{
                &__content-head{
                    display: flex;
                    flex-direction: column-reverse;
                    
                }
            }
        }
    }
} 