@import '../custom.scss';

.contacts {
    $self: ".contacts";

    padding: 3rem 1.75rem;

    @include media-breakpoint-up(sm) {
        padding: 5rem;
    }

    &__container {
        #{$self} {
            &__image-container {
                
            }
        }
    }
}