@import '../custom.scss';

.history {
    width:  100%;
    $self: ".history";
    .h2 {
        margin-bottom: 6rem;
    }
    display: flex;
    padding-left: 28px;
    flex-direction: column;
    .container{
        // width: 80%;
       
        .history-swiper{
            
            display: flex;
            .swiper-wrapper{
                gap: 0;
            
            #{$self}__container{
                padding-right: 24px;
                // margin-right: 1.5rem;
                border-right: 1px solid $neutral-100;
                width: 282px;
                #{$self}__heading{
                    cursor: pointer;

                }
                .image-container {
                    width: 100%;
                    flex-grow: 1;
                    padding-block: 1.5rem;
                    cursor: pointer;
                    img {
                        width: 100%;
                        // height: 150px;
                        aspect-ratio: 4/3;
                        object-fit: cover;
                    }
                }
                #{$self}__content{
                    width: 100%;
                    cursor: pointer; 
                    display: -webkit-box; 
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    /* Default: show only 1 paragraph */
                    // -webkit-line-clamp: 3;
                    p:not(:first-child) {
                        display: none; /* Hide all paragraphs except the first */
                    }
                }
                &:last-child{
                    border-right: none;
                    // padding-right: 0;
                }
            }
        }
            
        }
    }
    .swiper-navigation {
        margin-top: 4rem;
       

        display: flex;
        gap: 1rem;

        .btn-swiper-prev {
            transform: rotate(180deg);
        }
    }

    @include media-breakpoint-up(sm){
        padding-left: 5rem;

        .container{
            width: 100%;
            .history-swiper {
                height: 100%;

                .swiper-wrapper {
                    width: 100%;
                    height: 100%;
                    flex-direction: row;

                    .swiper-slide {
                        padding-right: 75px;
                        margin-right: 0;
                        width: 36%;
                        height: 100%;

                        padding-bottom: 0;
                        border-bottom: none;

                        border-right: 1px solid $neutral-100;
                    }
                    #{$self}__content {
                        -webkit-line-clamp: 3;
                    }
                }
            }
    
        }
    }
}

#popup-dialog{
    max-width: 100%;
    max-height: 100%;
    margin: 0;

    #popup-close {
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 2rem;
        color: $white;
        background: none;
        border: none;
        cursor: pointer;
        transition: color 0.2s;
    }

    #popup-close:hover {
        color: #000;
    }
    .popup-content{
        padding: 1rem;
    }
    .popup{
        #popup-image{
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: cover;
        }
    }
    
    @include media-breakpoint-up(sm){
        margin-block: auto;
        margin-inline: 5rem;
       
        .popup{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3%;
            #popup-image{
                height: 100%;
            }
        }
        #popup-close{
            color: $neutral-500;
        }
        .popup-content{
            padding: 2rem;
            max-height: 700px;
        }
        &::backdrop {
            background-color: #0C131A;
        }
    }
    @include media-breakpoint-up(md) {
        
        .popup-content{
            padding: 5rem 6rem;
          
        }
    }
}

