.leadspace{
    // max-width: 100%;
    position: relative;
    overflow: hidden;
    height: 90vh;
    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__heading {
        position: absolute;
        z-index: 2;
        color: #fff;
        // top: 65%;
        left: 10%;
        width: 16ch;
        bottom: 10%;
        // padding-inline: 28px;
    }
}