@import '../custom.scss';

.stories{
    margin-block: 7.5rem;
    margin-inline: 1.75rem;
    .c1{
        margin-bottom: 1.75rem;
    }
    .h5{
        margin-bottom: 3rem;
        font-family: 'Reckless Neue Book';
    }

    @include media-breakpoint-up(sm){
        margin: 8rem;
        .stories__content{
            border-left: 1px solid $neutral-100;
            padding-left: 5.5rem;
        }
    }
    @include media-breakpoint-up(md){
        margin-block: 11.25rem;
        padding-left: 21%;
    }
}