
@import '../custom.scss';

.testimonials {
    margin: 20px;
    $this: '.testimonials';
    
    display: flex;
    justify-content: center;
    align-items: center;

    .swiper {
        position: relative;
        .swiper-slide {
            display: grid;
            place-items: center;

            #{$this}__item {
                display: flex;
                flex-direction: row;
       
                padding-bottom: 64px;
                
                #{$this}__logo {
                    display: none;
                }

                #{$this}__content {
                    border-left: 1px solid $neutral-100;
                    padding-left: 30px;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1; 
                    gap: 10px; 

                    .icon-quote {
                        font-size: 33px;
                        padding-bottom: 20px;
                    }

                    h5 {
                        flex-grow: 1; 
                        margin-bottom: 20px; 
                    }
                }

                #{$this}__info {
                    margin-top: 30px;
                }
            }
        }

        .swiper-pagination, .progress-number {
            display: none;
        }

        .swiper-navigation {
            display: flex;
            gap: 10px;
            // position: absolute;
            bottom: 0px; 
            justify-content: flex-end;
            right: 10%; 
            z-index: 10;
            .btn-primary{
                &-next, &-prev{
                    border: none;
                    width: 48px;
                    aspect-ratio: 1;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding: 3rem;
        #{$this}__item {
            display: flex;
            flex-direction: row;
            
            
            #{$this}__logo {
                display: block !important;
                max-width: 193px;
                height: 47px;
                padding-inline: 30px 50px;
                object-fit: contain;
            }

            
        }
    }

    @media screen and (min-width: 1024px) {
        padding: 10rem 8rem;

        #{$this}__item {
            max-width: 1100px;
            #{$this}__content{
                // .c2{
                //     color: $neutral-100;
                // }
            }
           
        }

        
        .swiper-pagination {
            display: block !important;
            position: absolute;
            top: 98%;
            left: 86%;
            width: 10%;
            height: 2px; /* Adjust the height of the progress bar if needed */
            background-color: rgba(0, 0, 0, 0.2);

            &-progressbar{
                &-fill{
                    background-color: red;
                }
                
            }
        }
        .progress-number {
            display: block !important;
            position: absolute;
            top: 98%;
            transform: translateY(-50%);
        }

        .left-number {
            right: 16%; /* Adjust the left number positioning */
        }

        .right-number {
            right: 0%; /* Adjust the right number positioning */
        }
        .swiper-navigation{
            display: none !important; 
        }

    }
}
