.header {

    $self: ".header";

    padding-block: 1.5rem;
    margin-inline: clamp(1.75rem, 1.75rem + 0.369vw, 5rem);

    &__logo-container {
        width: clamp(85px, 10vw, 120px);
        height: clamp(33px, 10vw, 46.2px);

        a {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__contact {
        @include media-breakpoint-down(md) {
            display: none;
        }

        #{$self}__emergency {
            p {
                margin-bottom: 0;
            }

            a {

                .icon-phone-call {
                    margin-right: 0.5rem;
                    font-size: 1rem;
                }
            }
        }

    }

    .navbar {

        .container-fluid {

            @include media-breakpoint-up(md) {
                margin-inline: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .navbar-toggler {
                border: none;
            }

            .offcanvas {
                height: 100vh;
                padding-inline: 1.75rem;
                overflow: scroll;
                display: flex;
                flex-direction: column;

                @include media-breakpoint-up(md) {
                    flex-direction: row;
                    align-items: center;
                    flex-grow: 0;
                    overflow: visible;
                }

                &-header {
                    padding-inline: 0;

                    button {
                        background: transparent;
                        border: none;
                    }
                }

                .navbar-nav {
                    width: 100%;
                    margin-top: 6rem;

                    @include media-breakpoint-up(lg) {
                        gap: 40px;
                        margin-top: auto;
                    }

                    .nav-item {

                        @include media-breakpoint-down(md) {
                            padding-bottom: 1.5rem;
                            border-bottom: 1px solid $neutral-100;
                        }

                        .nav-link {
                            color: $neutral-600;

                            &:hover {
                                background-color: $neutral-100;
                            }
                        }
                    }

                    .dropdown {

                        .nav-link {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &[aria-expanded="true"] .icon-chevron-down {
                                transform: rotate(180deg);
                                transition: transform 0.3s ease;
                            }

                            @include media-breakpoint-up(md) {
                                width: max-content;
                                gap: 12px;
                            }
                        }

                        &-menu {
                            border: none;
                            width: 254px;

                            .nav-item {

                                @include media-breakpoint-down(md) {
                                    padding-bottom: 0;
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }

                .header__emergency {
                    cursor: pointer;

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}