// Custom breakpoints
$breakpoints: (
    "mobile": 480px,
    "tablet": 720px,
    "desktop": 1024px,
    "desktop-wide": 1440px,
);

$displays: (
    "d1": (
        "font-size": 48px,
        "line-height": 110%,
        "font-weight": 700,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 60px,
                "line-height": 100%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 120px,
                "line-height": 100%,
                "letter-spacing": 0
            )
        )
    ),
    "d2": (
        "font-size": 40px,
        "line-height": 90%,
        "font-weight": 400,
        "letter-spacing": -0.32px,
        "responsive": (
            "tablet": (
                "font-size": 64px,
                "line-height": 100%,
                "letter-spacing": -0.5px
            ),
            "desktop": (
                "font-size": 88px,
                "line-height": 120%,
                "letter-spacing": 0
            )
        )
    )
);

$headings: (
    "h1": (
        "font-size": 40px,
        "line-height": 110%, 
        "font-weight": 700,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 52px,
                "line-height": 110%,
                "letter-spacing": 0,
            ),
            "desktop": (
                "font-size": 64px,
                "line-height": 110%, 
                "letter-spacing": 0,
            )
        )
    ),
    "h2": (
        "font-size": 32px,
        "line-height": 140%, 
        "font-weight": 700,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 40px,
                "line-height": 120%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 48px,
                "line-height": 110%,
                "letter-spacing": 0,
            )
        )
    ),
    "h3": (
        "font-size": 28px,
        "line-height": 140%, 
        "font-weight": 700,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 36px,
                "line-height": 130%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 40px,
                "line-height": 120%,
                "letter-spacing": 0
            )
        )
    ),
    "h4": (
        "font-size": 28px,
        "line-height": 140%, 
        "font-weight": 700,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 30px,
                "line-height": 140%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 32px,
                "line-height": 140%,
                "letter-spacing": 0
            )
        )
    ),
    "h5": (
        "font-size": 18px,
        "line-height": 160%, 
        "font-weight": 400,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 22px,
                "line-height": 150%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 28px,
                "line-height": 140%,
                "letter-spacing": 0
            )
        )
    ),
    "h6": (
        "font-size": 20px,
        "line-height": 140%, 
        "font-weight": 500,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 22px,
                "line-height": 139%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 24px,
                "line-height": 138%,
                "letter-spacing": 0
            )
        )
    )
);

$subheadings: (
    "sh0": (
        "font-size": 24px,
        "line-height": 155%,
        "font-weight": 400,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 26px,
                "line-height": 155%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 28px,
                "line-height": 155%,
                "letter-spacing": 0
            )
        )
    ),
    "sh1": (
        "font-size": 24px,
        "line-height": 138%,
        "font-weight": 500,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 26px,
                "line-height": 139%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 28px,
                "line-height": 140%,
                "letter-spacing": 0
            )
        )
    ),
    "sh2": (
        "font-size": 24px,
        "line-height": 138%,
        "font-weight": 500,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 24px,
                "line-height": 139%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 20px,
                "line-height": 140%,
                "letter-spacing": 0
            )
        )
    ),
    "sh3": (
        "font-size": 18px,
        "line-height": 160%,
        "font-weight": 400,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 18px,
                "line-height": 160%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 18px,
                "line-height": 160%,
                "letter-spacing": 0
            )
        )
    )
);

$text-sizes: (
    "text-xl": (
        "font-size": 24px,
        "line-height": 120%,
        "font-weight": 500,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 26px,
                "line-height": 122%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 28px,
                "line-height": 125%,
                "letter-spacing": 0
            )
        )
    ),
    "text-lg": (
        "font-size": 18px,
        "line-height": 150%,
        "font-weight": 400,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 18px,
                "line-height": 150%,
                "letter-spacing": 0.01rem
            ),
            "desktop": (
                "font-size": 18px,
                "line-height": 150%,
                "letter-spacing": 0.02rem
            )
        )
    ),
    "text-md": (
        "font-size": 16px,
        "line-height": 150%,
        "font-weight": 400,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 16px,
                "line-height": 150%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 16px,
                "line-height": 150%,
                "letter-spacing": 0
            )
        )
    ),
    "text-sm-all": (
        "font-size": 14px,
        "line-height": 140%,
        "font-weight": 500,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 14px,
                "line-height": 140%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 14px,
                "line-height": 150%,
                "letter-spacing": 0
            )
        )
    ),
    "text-sm": (
        "font-size": 12px,
        "line-height": 150%,
        "font-weight": 400,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 14px,
                "line-height": 150%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 14px,
                "line-height": 150%,
                "letter-spacing": 0
            )
        )
    ),
    "text-xsm": (
        "font-size": 12px,
        "line-height": 140%,
        "font-weight": 400,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 12px,
                "line-height": 140%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 12px,
                "line-height": 140%,
                "letter-spacing": 0
            )
        )
    )
);

$captions: (
    "c1": (
        "font-size": 12px,
        "line-height": 150%,
        "font-weight": 500,
        "letter-spacing": 0.1rem,
        "responsive": (
            "tablet": (
                "font-size": 14px,
                "line-height": 150%,
                "letter-spacing": 0.1rem
            ),
            "desktop": (
                "font-size": 14px,
                "line-height": 150%,
                "letter-spacing": 0.1rem
            )
        )
    ),
    "c2": (
        "font-size": 14px,
        "line-height": 150%,
        "font-weight": 500,
        "letter-spacing": 0.1rem,
        "responsive": (
            "tablet": (
                "font-size": 14px,
                "line-height": 150%,
                "letter-spacing": 0.1rem
            ),
            "desktop": (
                "font-size": 14px,
                "line-height": 150%,
                "letter-spacing": 0.1rem
            )
        )
    ),
    "c3": (
        "font-size": 12px,
        "line-height": 150%,
        "font-weight": 500,
        "letter-spacing": 0.1rem,
        "responsive": (
            "tablet": (
                "font-size": 12px,
                "line-height": 150%,
                "letter-spacing": 0.1rem
            ),
            "desktop": (
                "font-size": 12px,
                "line-height": 150%,
                "letter-spacing": 0.1rem
            )
        )
    )
);

$button-links: (
    "btn-lg": (
        "font-size": 16px,
        "line-height": 150%,
        "font-weight": 500,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 16px,
                "line-height": 150%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 16px,
                "line-height": 150%,
                "letter-spacing": 0
            )
        )
    ),
    "btn-nav": (
        "font-size": 16px,
        "line-height": 150%,
        "font-weight": 500,
        "letter-spacing": 0,
        "responsive": (
            "tablet": (
                "font-size": 16px,
                "line-height": 150%,
                "letter-spacing": 0
            ),
            "desktop": (
                "font-size": 16px,
                "line-height": 150%,
                "letter-spacing": 0
            )
        )
    )
);