// Font files here

@font-face {
    font-family: "sunset-gothic-bold-pro";
    src: url("#{$font-path}/sunset-gothic-bold-pro.woff2") format("woff2"),
        url("#{$font-path}/sunset-gothic-bold-pro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
