.styleguide {
    padding-inline: 3rem;
    padding-block: 2rem;

    $self: ".styleguide";

    &__header {
        padding-block: 1rem;
        border-bottom: 1px solid black;

        // #{$self}__heading {
        // }
    }

    .content {
        display: flex;
        margin-top: 2rem;
        flex-direction: column;

        @media screen and (min-width: 500px) {
            flex-direction: row;
        }

        .sidebar {
            $self: ".sidebar";

            margin-right: 1rem;
            margin-bottom: 1rem;
            padding-right: 0.5rem;


            @media screen and (min-width: 428px) {
                max-height: 90vh;
                flex-basis: 300px;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
            }

            &__list {
                list-style: none;

                #{$self}__item {
                    padding-block: 0.8rem;
                    border-bottom: 1px solid black;

                    a {
                        text-decoration: none;
                        font-size: 1.8rem;
                        line-height: 2rem;
                    }
                }
            }
        }

        $self: ".styleguide";

        #{$self} {
            &__container {
                padding-inline: 1rem;
                flex-grow: 1;

                .colors {
                    $self: ".colors";

                    padding-bottom: 3rem;
                    border-bottom: 1px solid grey;

                    &__header {
                        width: max-content;
                        margin-bottom: 2rem;
                        position: relative;
                    }

                    &__container {

                        #{$self}__row {
                            display: flex;
                            justify-content: space-between;
                            gap: 1rem;
                            flex-wrap: wrap;
                        }

                        #{$self}__card {
                            flex-basis: 220px;
                            border-radius: 10px;
                            padding-inline: 0.8rem;
                            padding-block: 1rem;
                            color: #fff;

                            &-body {
                                margin-bottom: 1.5rem;

                                >* {
                                    display: block;
                                }
                            }

                            code {
                                background-color: rgba(0, 0, 0, .75);
                                color: #ffc107;
                                padding-inline: 8px;
                                padding-block: 4px;
                                border-radius: 5px;
                            }
                        }
                    }
                }

                .typography {
                    $self: ".typography";

                    padding-bottom: 3rem;
                    border-bottom: 1px solid grey;

                    &__header {
                        margin-block: 2rem;
                    }

                    &__container {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;

                        #{$self}__section {
                            margin-top: 1rem;

                            #{$self}__item {
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;
                            }

                            #{$self}__item:not(:last-child) {
                                margin-block: 2rem;
                            }
                        }
                    }
                }

                .icons {
                    $self: ".icons";

                    padding-bottom: 3rem;
                    border-bottom: 1px solid grey;

                    &__header {
                        margin-block: 2rem;
                    }

                    &__container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 4rem;

                        @media screen and (min-width: 428px) {
                            grid-template-columns: repeat(3, 1fr);
                        }

                        @media screen and (min-width: 990px) {
                            grid-template-columns: repeat(6, 1fr);
                        }
                    }
                }

                .button {
                    padding-bottom: 3rem;
                    border-bottom: 1px solid grey;

                    &__container {

                        .buttons {
                            display: flex;
                            justify-content: space-around;
                        }
                    }
                }

                .texture {
                    padding-bottom: 3rem;
                    border-bottom: 1px solid grey;

                    &__container {
                        width: 500px;
                        height: 500px;

                        code {
                            background-color: rgba(0, 0, 0, .75);
                            color: #ffc107;
                            padding-inline: 8px;
                            padding-block: 4px;
                            border-radius: 5px;
                            align-self: center;
                        }
                    }
                }

                .favicon {
                    padding-bottom: 3rem;
                    border-bottom: 1px solid grey;

                    &__container {
                        display: flex;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
}